.list-style-selector {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.list-style-selector__item {
  display: inline-block;
  margin: .8em .3em .3em;
}

.list-style-selector__item button {
  background-color: #1e4584;
  color: #fdfdfd;
  border: none;
  border-radius: 3px;
  font-size: 16.5px;
  padding: .3em .7em;
  -webkit-transition: 230ms ease-in-out;
  transition: 230ms ease-in-out;
}

.list-style-selector__item button:hover {
  -webkit-box-shadow: 0px 0px 30px -6px rgba(237,26,237,1);
  -moz-box-shadow: 0px 0px 30px -6px rgba(237,26,237,1);
  box-shadow: 0px 0px 30px -6px rgba(237,26,237,1);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.list-style-selector__item button:disabled {
  opacity: .7;
}
